.dropdownMenu {
  width: 200px;
  max-height: 175px;
  overflow-y: auto;
  position: absolute;
  top: 35px;
  left: -1px;
  z-index: 999;
  list-style-type: none;
  border: 1px solid #000;
  background: #fff;
}

.dropdownMenuItem {
  height: 35px;
}